<div class="ui text container" style="margin: 5em 0">
	<h1 class="ui header dividing">Noise Logger </h1>
	<a class="ui small button basic" href="/">Submit Data</a>
	<a class="ui small button basic" href="/log/chart">View Chart</a>
	<p>
		This is a noise logger to support the petition at <a href="https://www.change.org/p/rsaf-interruption-of-daily-life-due-to-sounds-of-military-airplanes">change.org</a>, a grassroot effort to consolidate feedback and quantitative data to build a case for reducing/mitigating noise from military aircrafts operating out of Paya Lebar Airbase. <a href="https://www.change.org/p/rsaf-interruption-of-daily-life-due-to-sounds-of-military-airplanes">Read more about this effort</a>. 
	</p>

	<p style="background: #ffd; padding: 1em; border-radius: 5px; border: 1px solid #aa8">
	Thank you for all your support over the past few months. We are officially closing the data collection by end of 2020 but will leave the data here for anyone who might want to use it to help our cause. Thank you for your time and we hope it has helped in some way to alleviate your misery. While they are set on ignoring us now, your voice has joined many others to shine light on this issue. Please continue to speak up about the things you feel passionately about—only with discourse, can we bring about change.
	</p>
</div>

	<table class="ui compact celled definition table sortable unstackable">
		<thead class="full-width">
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>Date</th>
				<th>Time</th>
				<th>Duration</th>
				<th>Loudness</th>
			</tr>
		</thead>

		<tbody>

			{{#each logs}}
			<tr>
				<td>{{name}}</td>
				<td>{{location}}</td>
				<td><a href="/log/chart/{{timestamp}}">{{parsed_date}}</a></td>
				<td>{{parsed_time}}</td>
				<td>{{duration}}</td>
				<td>{{loudness}}</td>
			</tr>
			{{/each}}

		</tbody>

	</table>

